@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Yusei Magic", sans-serif;
  color: #88665d;
  background-color: #c0bdab;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #c2b97f;
  background-color: #f3f7f2;
}
.navbar h1 {
  color: #35605a;
  background-color: #f3f7f2;
  /* bord */
}
.navbar .links {
  margin-left: auto;
  background-color: #f3f7f2;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  background-color: #f3f7f2;
}
.navbar a:hover {
  color: #35605a;
}
.content {
  max-width: 85%;
  margin: 40px auto;
  padding: 30px;
  border: 2px solid #c2b97f;
  border-radius: 70px;
  background-color: #f3f7f2;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  padding-bottom: 30px;
  margin: 3px 0;
  border-bottom: 1px solid #fafafa;
  background-color: #f3f7f2;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.185);
}
.blog-preview h2 {
  font-size: 22px;
  color: #35605a;
  margin-bottom: 8px;
  background-color: #f3f7f2;
}

.blog-preview p,
h2 {
  background-color: #f3f7f2;
}

#blog-list-title {
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
