@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Yusei Magic", sans-serif;
  color: #88665d;
  background-color: #c0bdab;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #c2b97f;
  background-color: #f3f7f2;
}
.navbar h1 {
  color: #35605a;
  background-color: #f3f7f2;
  /* bord */
}
.navbar .links {
  margin-left: auto;
  background-color: #f3f7f2;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  background-color: #f3f7f2;
}
.navbar a:hover {
  color: #35605a;
}
.content {
  max-width: 85%;
  margin: 40px auto;
  padding: 30px;
  border: 2px solid #c2b97f;
  border-radius: 70px;
  background-color: #f3f7f2;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  padding-bottom: 30px;
  margin: 3px 0;
  border-bottom: 1px solid #fafafa;
  background-color: #f3f7f2;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.185);
}
.blog-preview h2 {
  font-size: 22px;
  color: #35605a;
  margin-bottom: 8px;
  background-color: #f3f7f2;
}

.blog-preview p,
h2,
form {
  background-color: #f3f7f2;
}

#blog-list-title {
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

#loading {
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  background-color: #f3f7f2;
}

.blog-preview a {
  text-decoration: none;
}

/* ---------- */

.blog-details h2 {
  font-size: 20px;
  color: #35605a;
  font-size: 40px;
  margin-bottom: 3px;
  padding-bottom: 10px;
}
.blog-details div {
  padding-top: 20px;
  background-color: #f3f7f2;
}

.blog-details p {
  padding-top: 20px;
  background-color: #f3f7f2;
  font-size: 20px;
}
.blog-details button {
  background: #35605a;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create form */
.create {
  background-color: #f3f7f2;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
.create label {
  background-color: #f3f7f2;
  text-align: left;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
.create h2 {
  font-size: 30px;
  color: #35605a;
  /* margin-bottom: 30px; */
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 10px;
  padding-bottom: 10px;

  /* margin: 10px 0; */
  border: 1px solid #ddd;
  background-color: #f3f7f2;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #35605a;
  width: 20%;
  margin-top: 15px;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#btn {
  background: #35605a;
  width: 100%;
  /* margin-top: 15px; */
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.not-found {
  background-color: #f3f7f2;
}
